
/* enable dragging */
.app-bar {
  -webkit-app-region: drag;
}

.app-bar-element, .app-bar-menu {
  -webkit-app-region: no-drag;
}

/* fix conflict with bootstrap, I guess? */
.app-bar li {
  margin: 0 !important;
}

/* disable underline effect re-enabled by bootstrap */
.app-bar a {
  text-decoration: none !important;
}

/* input text is white for some reason */
.app-bar input {
  color: black !important;
}

/* caused by metro.css */
ul, ol {
  margin-left: 0 !important;
}

/* fix metro.css adding margin around h1 elements */
/*h1, h2, h3, h4, h5, h6 {
  margin: 0px !important;
  padding-left: 0.625rem !important;
}*/

/* fix winstrap split buttons being separated */
/*.dropdown-toggle {
  min-width: initial !important;
  margin-left: -7px !important;
}*/

/* fix button group buttons being misaligned */
/*.btn-group {
  margin: 0px 0px 0px 0px !important;
}*/

/*
.dropdown.open .dropdown-menu {
  top: 0px !important;
  position: relative !important;
  display: inline-block !important;
}*/
